# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

cmd-git.rtf

Materia-Heroes/dist/
Materia-Heroes/node_modules/
Materia-Heroes/*.log
09-heroes/node_modules/

/node_modules